# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\research-paper\image_search_api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
